//Primary

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(203, 89%, 53%);
$twitter: hsl(195, 100%, 50%);
$instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

//Dark Theme

$dark-theme: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

// Light Theme

$light-theme: hsl(230, 22%, 74%);
$bg-card-item: #f0f2fa;
