@import './colors.scss';

$border-radius: 6px;
$brackpoint-mobile-l: 425px;
$brackpoint-mobile-s: 320px;

body {
  background-color: $bg-ligth-theme;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  &.darkmode {
    background-color: $bg-dark-theme;
    transition: all .1s;
    .header {
      background-color: $header-dark-theme;
      transition: all .1s;
      h1 {
        color: white;
        transition: all .1s;
      }
    }
    .main__item {
      background-color: $bg-card-dark-theme;
      transition: all .1s;
      .social-media span,
      .count span {
        color: white;
        transition: all .1s;
      }
    }
    .overview {
      .title, &__card-footer--number {
        color: white;
        transition: all .1s;
      }
      &__card {
        background-color: $bg-card-dark-theme;
        transition: all .1s;
      }
    }
  }
}

.header {
  background-color: $header-ligth-theme;
  height: 250px;
  padding-top: 4rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: $brackpoint-mobile-l) {
      flex-direction: column;
    }
  }
  .title {
    h1 {
      margin: 0;
      @media (max-width: $brackpoint-mobile-l) {
        font-size: 1.5rem;
      }
      @media (max-width: $brackpoint-mobile-s) {
        font-size: 1.2rem;
      }
    }
    p {
      margin: 0;
      font-weight: bold;
      color: gray;
    }
    @media (max-width: $brackpoint-mobile-l) {
      padding-bottom: 1rem;
      border-bottom: 1px solid black;
    }
  }
  .dark-mode {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      color: gray;
      font-weight: 700;
      margin-right: 5px;
      font-size: 1rem;
    }
    .switch {
      width: 60px;
      height: 30px;
      background: linear-gradient(45deg,#378fe6, #3eda82);
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      padding: 2px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      transition: all .5s;
      &.on .switch-option {
        transform: translateX(0px);
        background: #1e202a;
      }
      &-option {
        width: 25px;
        height: 25px;
        background: #f5f7ff;
        border-radius: 50%;
        position: absolute;
        transform: translateX(30px);
        transition: all .5s;
        input[type="checkbox"] {
          visibility: hidden;
        }
      }
    }

    @media (max-width: $brackpoint-mobile-l) {
      margin-top: 1rem;
      justify-content: space-between;
    }
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  top: -120px;
  position: relative;
  @media (max-width: $brackpoint-mobile-s) {
    top: -90px;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 49px;
  &__item {
    height: 250px;
    background-color: $bg-card-ligth-theme;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: $border-radius;
    position: relative;
    &.facebook::before {
      content: "";
      width: 100%;
      height: 6px;
      background-color: $facebook;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &.twitter::before {
      content: "";
      width: 100%;
      height: 6px;
      background-color: $twitter;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &.instagram::before {
      content: "";
      width: 100%;
      height: 6px;
      background: $instagram;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &.youtube::before {
      content: "";
      width: 100%;
      height: 6px;
      background-color: $youtube;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      img {
        margin-right: 5px;
      }
    }
    .count {
      span {
        font-weight: 700;
        font-size: 4em;
      }
      p {
        margin: 0;
        font-size: 1.1em;
        letter-spacing: 4px;
        text-transform: UPPERCASE;
        color: gray;
      }
    }
    .current {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &.up {
        color: #1fb589;
      }
      &.down {
        color: #dc414c;
      }
      img {
        margin-right: 5px;
        width: 10px;
      }
    }
  }
}

.overview {
  .title {
    font-size: 2em;
    color: #646679;
  }
  &-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 49px;
  }
  &__card {
    height: 125px;
    border-radius: $border-radius;
    background-color: $bg-card-ligth-theme;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &-header, &-footer {
      flex-grow: 1;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .title {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &--number {
        font-size: 3rem;
        font-weight: 700;
      }
      .current {
        margin-bottom: 5px;
        &.up {
          color: #1fb589;
        }
        &.down {
          color: #dc414c;
        }
        img {
          margin-right: 5px;
          width: 10px;
        }
      }
    }
  }
}