body {
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.header {
  background-color: #f5f7ff;
  height: 250px;
  padding-top: 4rem;
}
.header__wrapper {
  width: 80%;
  margin: 0 auto;
}
.header__wrapper .title h1 {
  margin: 0;
}
.header__wrapper .title p {
  margin: 0;
  font-weight: bold;
  color: gray;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  top: -120px;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 49px;
}
.main__item {
  height: 250px;
  background-color: #f0f2fa;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  position: relative;
}
.main__item.facebook::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #1ca0f2;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.main__item.twitter::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: deepskyblue;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.main__item.instagram::before {
  content: "";
  width: 100%;
  height: 6px;
  background: linear-gradient(45deg, #fdc468, #df4996);
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.main__item.youtube::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #c4032a;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.main__item .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.main__item .social-media img {
  margin-right: 5px;
}
.main__item .count span {
  font-weight: 700;
  font-size: 4em;
}
.main__item .count p {
  margin: 0;
  font-size: 1.1em;
  letter-spacing: 4px;
  text-transform: UPPERCASE;
  color: gray;
}
.main__item .current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.main__item .current.up {
  color: #1fb589;
}
.main__item .current.down {
  color: #dc414c;
}
.main__item .current img {
  margin-right: 5px;
  width: 10px;
}

.overview .title {
  font-size: 2em;
  color: #646679;
}
.overview-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 49px;
}
.overview__card {
  height: 125px;
  border-radius: 6px;
  background-color: #f0f2fa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.overview__card-header, .overview__card-footer {
  flex-grow: 1;
}
.overview__card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.overview__card-header .title {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}
.overview__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.overview__card-footer--number {
  font-size: 3rem;
  font-weight: 700;
}
.overview__card-footer .current {
  margin-bottom: 5px;
}
.overview__card-footer .current.up {
  color: #1fb589;
}
.overview__card-footer .current.down {
  color: #dc414c;
}
.overview__card-footer .current img {
  margin-right: 5px;
  width: 10px;
}

/*# sourceMappingURL=styles.css.map */
