@import './colors.scss';

$border-radius: 6px;

body {
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.header {
  background-color: hsl(225, 100%, 98%);
  height: 250px;
  padding-top: 4rem;
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    .title {
      h1 {
        margin: 0;
      }
      p {
        margin: 0;
        font-weight: bold;
        color: gray;
      }
    }
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  top: -120px;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap: 49px;
  &__item {
    height: 250px;
    background-color: $bg-card-item;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: $border-radius;
    position: relative;
    &.facebook::before {
      content: "";
      width: 100%;
      height: 6px;
      background-color: $facebook;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &.twitter::before {
      content: "";
      width: 100%;
      height: 6px;
      background-color: $twitter;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &.instagram::before {
      content: "";
      width: 100%;
      height: 6px;
      background: $instagram;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &.youtube::before {
      content: "";
      width: 100%;
      height: 6px;
      background-color: $youtube;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      img {
        margin-right: 5px;
      }
    }
    .count {
      span {
        font-weight: 700;
        font-size: 4em;
      }
      p {
        margin: 0;
        font-size: 1.1em;
        letter-spacing: 4px;
        text-transform: UPPERCASE;
        color: gray;
      }
    }
    .current {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &.up {
        color: #1fb589;
      }
      &.down {
        color: #dc414c;
      }
      img {
        margin-right: 5px;
        width: 10px;
      }
    }
  }
}

.overview {
  .title {
    font-size: 2em;
    color: #646679;
  }
  &-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 49px;
  }
  &__card {
    height: 125px;
    border-radius: $border-radius;
    background-color: $bg-card-item;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &-header, &-footer {
      flex-grow: 1;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .title {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &--number {
        font-size: 3rem;
        font-weight: 700;
      }
      .current {
        margin-bottom: 5px;
        &.up {
          color: #1fb589;
        }
        &.down {
          color: #dc414c;
        }
        img {
          margin-right: 5px;
          width: 10px;
        }
      }
    }
  }
}
