@import './colors.scss';

body {
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.header {
  background-color: hsl(225, 100%, 98%);
  height: 250px;
  padding-top: 4em;
  .title {
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
      font-weight: bold;
      color: gray;
    }
  }
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.indicators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 49px;
  position: absolute;
  top: 160px;
  &__item {
    width: 300px;
    height: 250px;
    background-color: $bg-card-item;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 6px;
    &.facebook {
      border-top: 6px solid $facebook;
    }
    &.twitter {
      border-top: 6px solid $twitter;
    }
    &.instagram {
      border-top: 6px solid $instagram;
    }
    &.youtube {
      border-top: 6px solid $youtube;
    }
    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      img {
        margin-right: 5px;
      }
    }
    .count {
      span {
        font-weight: 700;
        font-size: 4em;
      }
      p {
        margin: 0;
        font-size: 1.1em;
        letter-spacing: 4px;
        text-transform: UPPERCASE;
        color: gray;
      }
    }
    .current {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &.up {
        color: #1fb589;
      }
      &.down {
        color: #dc414c;
      }
      img {
        margin-right: 5px;
        width: 10px;
      }
    }
  }
}
