@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './Vars.scss';

body {
  background-color: $bg-ligth-theme;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  div:first-child .darkTheme {
    background-color: $bg-dark-theme;
    transition: all .1s;
    .header {
      background-color: $header-dark-theme;
      transition: all .1s;
      h1 {
        color: white;
        transition: all .1s;
      }
    }
    .main__item {
      background-color: $bg-card-dark-theme;
      transition: all .1s;
      .social-media span,
      .count span {
        color: white;
        transition: all .1s;
      }
    }
    .overview {
      .title, &__card-footer--number {
        color: white;
        transition: all .1s;
      }
      &__card {
        background-color: $bg-card-dark-theme;
        transition: all .1s;
      }
    }
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  top: -120px;
  position: relative;
  @media (max-width: $brackpoint-mobile-s) {
    top: -90px;
  }
}