//Primary
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(203, 89%, 53%);
$twitter: hsl(195, 100%, 50%);
$instagram: linear-gradient(45deg,#fdc468,#df4996);
$youtube: hsl(348, 97%, 39%);

//Dark Theme
$bg-dark-theme: #1e202a;
$header-dark-theme: #1f212e;
$text-colo-dark-theme: #1e202a;
$bg-card-dark-theme: #252a41;

// Light Theme
$bg-card-item: #f0f2fa;
$bg-ligth-theme: #ffffff;
$header-ligth-theme: #f5f7ff;
$text-color-ligth-theme: #2b2f3e;
$bg-card-ligth-theme: #f0f2fa;

$border-radius: 6px;
$brackpoint-mobile-l: 425px;
$brackpoint-mobile-s: 320px;
$brackpoint-desktop: 1440px;